*{
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    
  }
body{
    display: grid;
    height: 100vh;
    
    position: relative;
    
}


/* Establece el degradado como fondo fijo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, #FFE331 0%, #ffaa33 25%, #ff884d 50%, #ff6633 75%, #ff3333 100%);
}

a {
    color: inherit; /* Hereda el color del texto de su contenedor */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

a:hover {
    text-decoration: underline; /* Opcional: agrega un subrayado al pasar el ratón */
}


header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mensaje{
    text-align: center;
}

span{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.06rem;
}

.contenedor-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-left: 30rem;
    padding-right: 30rem;
}

.site-menu{
    font-family: "Questrial", sans-serif;
    text-decoration: none;
    font-size: 20px;
    width: 1500px;
    margin-left: 30rem;
    z-index: 10;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 50px;
}

li{
    letter-spacing: 0.1rem;
    margin: 1rem;
    
}

.caja-img-main{
    width: min-content;
    height: min-content;
}

.img-main{
    width: 156rem;
}


.card{
    box-sizing: border-box;
    width: min-content;
    height: min-content;
    margin: 0.1rem;
    
    
}

.sec-principal{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.mochilas{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.mouses{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.sillas{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.marcas{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.guitarras{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.card-img-top{
    background-color: white;
    width: 30rem;
    height: 30rem;
    border: solid;
    border-width: 1px;
    border-radius: 2rem;
    
}
.card-body{
    margin-top: 3rem;
}

.contenedor-zippo{
    box-sizing: border-box;
    width: min-content;
    height: min-content;
}

.img-zippo{
    background-image: url(../img/zippo.png);
    width: 156rem;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

footer{
    text-align: center;
    font-family: Alegreya Sans;
}

.alegreya-sans-regular {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }